{{!-- banner 2 section  --}}
    <section class="banner2_section py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center py-5">
                    {{!-- left side --}}
                    <h3>
                        Regourous Working
                    </h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam dicta inventore, consectetur repellendus temporibus placeat illum minus ipsa sapiente possimus reprehenderit labore quae, natus optio, pariatur consequuntur? Voluptatibus iste aspernatur necessitatibus quam, in odio esse amet ea, sit quisquam dolores et accusamus aperiam quod at numquam doloremque ipsa ad nam!
                    </p>
                    <button class="btn btn-primary">Click Here</button>
                </div>
                <div class="col-md-6 text-center">
                    {{!-- right side  --}}
                    <img src="/bootstrap/images/banner1.jpg" alt="Img" style="height: 250px;">
                </div>
            </div>
        </div>
    </section>

    {{!-- banner 3 section  --}}
    <section class="banner2_section py-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center ">
                    {{!-- left side --}}
                     <img src="/bootstrap/images/banner2.jpg" alt="Img" style="height: 350px;">
                </div>
                <div class="col-md-6 text-center py-5">
                    {{!-- right side  --}}
                   <h3>
                        A ledership Funnel
                    </h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam dicta inventore, consectetur repellendus temporibus placeat illum minus ipsa sapiente possimus reprehenderit labore quae, natus optio, pariatur consequuntur? Voluptatibus iste aspernatur necessitatibus quam, in odio esse amet ea, sit quisquam dolores et accusamus aperiam quod at numquam doloremque ipsa ad nam!
                    </p>
                    <button class="btn btn-primary">Click Here</button>
                </div>
            </div>
        </div>
    </section>