<footer class="footer text-center background1">
{{#each data}}
        <div class="row">
            <div class="col-md-12">
                @ {{this.year}} Copyright: <span>{{this.company}}</span>
            </div>
        </div>
{{/each}}
    </footer>